include CHANGELOG.md
include SECURITY.md
include SUPPORT.md
recursive-include benchmarks *.py
recursive-include docs *.md
recursive-include examples *.json *.py
recursive-include golden *.json *.py *.md
recursive-include pilot *.json *.md
recursive-include .github *.yml
include .github/allowed_signers
recursive-include scripts *.py
